body {
              padding-top: 20px;
              padding-bottom: 20px;
     }
  
          

#hd {
              height: 135px;
              border-radius: 7px !important;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;

            
     }



#ft {
              height: 25px;
              text-align: center;
              border-radius: 7px !important;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;
              margin-top: 5px;
            
     }


.navbar {
                  margin-bottom: 20px;
                  padding-left: 10px;
                  padding-right: 10px;
        }

/* cot.home.php */
#sep { height: 10px; }

#lbl { width: 100px; text-align: right; }


#tit-col { border-radius: 7px 7px 0px 0px !important;    }

#fin-col { text-align: right;    }

#ccx { border-style: solid;   }

.selectw { }

/* FIN cot.home.php */

@media (min-width: 300px) { 
    
   .info:before { content: "Color Digital - Tel.: (503) 2237-0954"; }
   #cnt {
              height: 710px;
              border-radius: 7px !important;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;
              margin-top: 5px;
              padding: 8px;
             
            
     }

     .col-container { background-color: white;  border-radius: 7px !important; border-style: solid; border-color: gray; border-width:1px;   }

 }


@media (min-width: 768px) { 
    
    .info:before { content: "Color Digital - Tel.: (503) 2237-0954 - Fax: (503) 2237-2975"; }
    #cnt {
              height: 490px;
              border-radius: 7px !important;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;
              margin-top: 5px;
              padding: 8px;
             
            
     }

     .col-container { background-color: white;  border-radius: 7px !important; border-style: solid; border-color: gray; border-width:1px;   }

 }


@media (min-width: 992px) { 

   .info:before { content: "Color Digital - Tel.: (503) 2237-0954 - Fax: (503) 2237-2975"; }
   #cnt {
              height: 390px;
              border-radius: 7px !important;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;
              margin-top: 5px;
              padding: 8px;
             
            
     }

     .col-container { background-color: white;  border-radius: 7px !important; border-style: solid; border-color: gray; border-width:1px;   }

 }


@media (min-width: 1200px) { 

   .info:before { content: "Color Digital - Tel.: (503) 2237-0954 - Fax: (503) 2237-2975"; }
   #cnt {
              height: 375px;
              border-radius: 7px !important;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;
              margin-top: 5px;
              padding: 8px;        
     }

  .col-container { background-color: white; width: 800px; border-radius: 7px !important; border-style: solid; border-color: gray; border-width:1px;   }

  .selectw { width:245px !important; }

  input[type="text"], input[type="email"]
  {
      width:245px; 
  }  


}