body {
              padding-top: 20px;
              padding-bottom: 20px;
     }
  
          

#hd {
              height: 135px;
              border-radius: 7px;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;

            
     }



#ft {
              height: 25px;
              text-align: center;
              border-radius: 7px;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;
              margin-top: 5px;
            
     }


.navbar {
                  margin-bottom: 20px;
                  padding-left: 10px;
                  padding-right: 10px;
        }

/* cot.home.php */
#sep { height: 10px; }

#lbl { width: 100px; text-align: right; }

.col-container { background-color: white; }

.col-container2 { background-color: #333; }

#tit-col { background-color: #5B8FB4;   }

#fin-col { text-align: right;    }



#ccx { border-style: solid;   }

.selectw { }

/* FIN cot.home.php */

@media (min-width: 300px) { 
    
   .info:before { content: "Tel.: (503) 2237-0954 - Fax: (503) 2237-2975"; }
   #cnt {
              height: 345px;
              border-radius: 7px;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;
              margin-top: 5px;
              padding: 8px;
             
            
     }

     .col-container {  }
     .col-container2 { color: white; border-radius: 7px; height: 240px;   }
     #fin-col2 { text-align: left;   }


 }


@media (min-width: 768px) { 
    
    .info:before { content: "Color Digital - Tel.: (503) 2237-0954 - Fax: (503) 2237-2975"; }
    #cnt {
              height: 350px;
              border-radius: 7px;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;
              margin-top: 5px;
              padding: 8px;
             
            
     }

      .col-container { background-color: white; width: 550px; }

      .col-container2 { background-color: #333; width: 550px; color: white; border-radius: 7px; height: 150px; }

      #fin-col2 { text-align: left;  margin-left: -20px;  }


 }


@media (min-width: 992px) { 

   .info:before { content: "Color Digital - Tel.: (503) 2237-0954 - Fax: (503) 2237-2975"; }
   #cnt {
              height: 370px;
              border-radius: 7px;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;
              margin-top: 5px;
              padding: 8px;
             
            
     }

     .col-container { background-color: white; width: 550px; }

     .col-container2 { background-color: #333; width: 550px; color: white; border-radius: 7px; height: 150px; }

     #fin-col2 { text-align: left;  margin-left: -20px;  }


 }


@media (min-width: 1200px) { 

   .info:before { content: "Color Digital - Tel.: (503) 2237-0954 - Fax: (503) 2237-2975"; }
   #cnt {
              height: 360px;
              border-radius: 7px;
              background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
              background: -webkit-linear-gradient(#e6e6e6, white);
              background: linear-gradient(#e6e6e6, white); /* Standard syntax (must be last) */
              border-style: groove;
              margin-top: 5px;
              padding: 8px;        
     }

  .col-container { background-color: white; width: 550px; }

  .col-container2 { background-color: #333; width: 550px; color: white; border-radius: 7px; height: 150px; }

  .selectw { width:245px !important; }

  #fin-col2 { text-align: left;  margin-left: -20px;  }




  

}